body {
	font-family: 'Jura', sans-serif;
	font-size: 16pt;
	margin: 0 10em 0 10em;
	background: #f5f5f5;
	padding: 0;
}

a {
	color: #000;
}

h1 {
	margin: 0 10px ;
	text-align: center;
	color: #030303;
	font-size: 250%;
	font-weight: 400;
	text-shadow: 3px 3px 5px #ccc;
}

input {
	font-size: 105%;
}

#as_in, #as_out {
	margin: 1em;
}

.result{
	padding: 1em 0 0 0;
}